<?xml version="1.0"?>
<!--<connectionStrings>
	<add name="RockContext" connectionString="Data Source=nvrockprod.database.windows.net;Initial Catalog=RockProduction_2018-08-06T12-01Z; User Id=NVadmin; password=NVrocks!12900;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
</connectionStrings>-->
<connectionStrings>

  <add name="RockContext"
    connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=RockTestDB;
    User Id=sa; password=Excelsior123;MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient"/>

  <!--<add name="RockContext" connectionString="Data Source=nvrockprod.database.windows.net;Initial Catalog=RockProduction_2018-08-06T12-01Z; User Id=NVadmin; password=NVrocks!12900;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->

</connectionStrings>

